# Ignore Maven target folder
target/

# Ignore test result files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IntelliJ IDEA files
.idea/
*.iml
out/

# Ignore test reports if generated
test-output/
/target/
